body {
	padding-bottom: 60px;
}

.center-icon {
	background-color: #eee;
}

.icons {
	font-size: 35px;
	padding: 0px;
	line-height: 60px;
}

.navbar-bottom-icon {
	color: #eee;
}

.navbar-bottom-icon:hover {
	color: #ddd;
}

.navbar .navbar-default .navbar-inverse .navbar-fixed-bottom {
	height: 60px;
	border: 0px;
}