<template name="upload">
    {{#unless previewingFile}}
    <div class="row">
        <div class="center-block">
            <center>
                <span class="btn btn-default btn-lg btn-file">
                        Browse... <input type="file" class="fileSelect">
                    </span>
            </center>
        </div>
    </div>
    {{/unless}}

    <div class="row" style={{#unless previewingFile}}display:none{{/unless}}>
        <div class="center-block">
            <img id="previewImage" class="{{filters}} img-responsive">
        </div>
    </div>

    {{#if previewingFile}}
    <div class="row">
        <div class="col-xs-3 col-md-2">
            <a id="1977" class="btn btn-primary addFilter btn-filter">1977</a>
        </div>
        <div class="col-xs-3 col-md-2">
            <a id="xpro2" class="btn btn-primary addFilter btn-filter">X-Pro 2</a>
        </div>
        <div class="col-xs-3 col-md-2">
            <a id="walden" class="btn btn-primary addFilter btn-filter">Walden</a>
        </div>
        <div class="col-xs-3 col-md-2">
            <a id="valencia" class="btn btn-primary addFilter btn-filter">Valencia</a>
        </div>
        <div class="col-xs-3 col-md-2">
            <a id="toaster" class="btn btn-primary addFilter btn-filter">Toaster</a>
        </div>
        <div class="col-xs-3 col-md-2">
            <a id="sutro" class="btn btn-primary addFilter btn-filter">Sutro</a>
        </div>
        <div class="col-xs-3 col-md-2">
            <a id="sierra" class="btn btn-primary addFilter btn-filter">Sierra</a>
        </div>
        <div class="col-xs-3 col-md-2">
            <a id="rise" class="btn btn-primary addFilter btn-filter">Rise</a>
        </div>
        <div class="col-xs-3 col-md-2">
            <a id="nashville" class="btn btn-primary addFilter btn-filter">Nashville</a>
        </div>
        <div class="col-xs-3 col-md-2">
            <a id="mayfair" class="btn btn-primary addFilter btn-filter">Mayfair</a>
        </div>
        <div class="col-xs-3 col-md-2">
            <a id="lofi" class="btn btn-primary addFilter btn-filter">Lo-Fi</a>
        </div>
        <div class="col-xs-3 col-md-2">
            <a id="kelvin" class="btn btn-primary addFilter btn-filter">Kelvin</a>
        </div>
        <div class="col-xs-3 col-md-2">
            <a id="inkwell" class="btn btn-primary addFilter btn-filter">Inkwell</a>
        </div>
        <div class="col-xs-3 col-md-2">
            <a id="hudson" class="btn btn-primary addFilter btn-filter">Hudson</a>
        </div>
        <div class="col-xs-3 col-md-2">
            <a id="hefe" class="btn btn-primary addFilter btn-filter">Hefe</a>
        </div>
        <div class="col-xs-3 col-md-2">
            <a id="earlybird" class="btn btn-primary addFilter btn-filter">Earlybird</a>
        </div>
        <div class="col-xs-3 col-md-2">
            <a id="brannan" class="btn btn-primary addFilter btn-filter">Brannan</a>
        </div>
        <div class="col-xs-3 col-md-2">
            <a id="amaro" class="btn btn-primary addFilter btn-filter">Amaro</a>
        </div>
        <div class="col-xs-3 col-md-2">
            <a class="reset btn btn-danger btn-filter">Reset</a>
        </div>
    </div>
    <div class="row">
        <form class="uploadFile">
            <input type="text" class="form-control" id="caption" placeholder="Caption"> {{#if processing}}
            <button type="submit" class="btn btn-primary btn-file" disabled>Submit</button>
            {{else}}
            <button type="submit" class="btn btn-primary btn-file">Submit</button>
            {{/if}}
        </form>
    </div>
    {{/if}}
</template>