<template name="upload">
    <div class="row">
        <div class="center-block">
            <span class="btn btn-default btn-file">
                Browse... <input type="file" class="fileSelect">
            </span>
        </div>
    </div>

    <div class="row" style={{#unless previewingFile}}display:none{{/unless}}>
        <div class="center-block">
            <canvas id="previewImage" height="1024" width="1024" class="responsive-img"></canvas>
        </div>
    </div>

    {{#if processing}}
    <div class="row">
        Processing...
    </div>
    {{/if}} 
    {{#if previewingFile}}
    <div class="row">
        <a id="vintage" class="btn btn-primary addFilter btn-filter">Vintage</a>

        <a id="lomo" class="btn btn-primary addFilter btn-filter">Lomo</a>

        <a id="clarity" class="btn btn-primary addFilter btn-filter">Clarity</a>

        <a id="sinCity" class="btn btn-primary addFilter btn-filter">Sin City</a>

        <a id="sunrise" class="btn btn-primary addFilter btn-filter">Sunrise</a>

        <a id="crossProcess" class="btn btn-primary addFilter btn-filter">Cross Process</a>

        <a id="orangePeel" class="btn btn-primary addFilter btn-filter">Orange Peel</a>

        <a id="love" class="btn btn-primary addFilter btn-filter">Love</a>

        <a id="grungy" class="btn btn-primary addFilter btn-filter">Grungy</a>

        <a id="jarques" class="btn btn-primary addFilter btn-filter">Jarques</a>

        <a id="pinhole" class="btn btn-primary addFilter btn-filter">Pinhole</a>

        <a id="oldBoot" class="btn btn-primary addFilter btn-filter">Old Boot</a>

        <a id="glowingSun" class="btn btn-primary addFilter btn-filter">Glowing Sun</a>

        <a id="hazyDays" class="btn btn-primary addFilter btn-filter">Hazy Days</a>

        <a id="herMajesty" class="btn btn-primary addFilter btn-filter">Her Majesty</a>

        <a id="nostalgia" class="btn btn-primary addFilter btn-filter">Nostalgia</a>

        <a id="hemingway" class="btn btn-primary addFilter btn-filter">Hemingway</a>

        <a id="concentrate" class="btn btn-primary addFilter btn-filter">Concentrate</a>

        <a class="reset btn btn-danger btn-filter">Reset</a>
    </div>
    <div class="row">
        <form class="uploadFile">
            <input type="text" class="form-control" id="caption" placeholder="Caption">
            {{#if processing}}
                <button type="submit" class="btn btn-primary btn-file" disabled>Submit</button>
            {{else}}
                <button type="submit" class="btn btn-primary btn-file">Submit</button>
            {{/if}}
        </form>
    </div>
    {{/if}}
</template>